extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src=`${product.imageUrl}`, alt="A Book")
                        div.card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        .card__actions
                            a.btn(href=`/products/${product._id}`) Details
                            if isAuthenticated
                                form(action="/cart" method="post")
                                    input(type="hidden" name="productId" value=`${product._id}`)
                                    button.btn(type="submit") Add to Cart
        else
            h1 No Products

